body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}
nav {
    background: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}